<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <connectionStrings>

    <add name="TrainDBConnection"
         connectionString=
         "Data Source=ICS-LT-1G33YS3\SQLEXPRESS;
          Initial Catalog=TrainReservationDB;
          Integrated Security=True"

         providerName="System.Data.SqlClient"/>

  </connectionStrings>

</configuration>